.sider-navbar{
    width: 250px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 70px;
    overflow: hidden;
    background: $colorSiderbg;
    z-index: 8;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);


    .bscroll-vertical-scrollbar{
        right: 2px!important;
    }
    .bscroll-indicator{
        background: #d6d7da!important;
    }

    .sider-navbar__h2{
        padding-left: 20px;
        color: #8c8c8c;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        opacity: 1;
        padding: 20px 20px 10px;
        text-transform: capitalize;
        visibility: visible;
        transition: opacity 0.3s linear;
    }

    .avatar{
        display: flex;
        min-height: 88px;
        padding-left: 20px;
        padding-top: 25px;

        .avatar-img{
            width: 40px;
            height: 40px;
            border-radius: 4px;
            overflow: hidden;
        }
        .avatar-info{
            flex: 1;
            min-width: 0;
            padding-left: 10px;
            padding-right: 10px;
            span{
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &.name{
                    font-weight: 600;
                    font-size: 14px;
                }
                &.depart{
                    position: relative;
                    padding-top: 12px;
                    i{
                        color: #000;
                    }
                }
            }
        }
    }

    .el-menu{
        border-right: none;
        background: none;
    }
    .el-menu-item, .el-submenu__title{
        height: 50px;
        line-height: 50px;
        color: #000;

        .material-icons{
            vertical-align: middle;
            margin-right: 5px;
            width: 24px;
            text-align: center;
            font-size: 18px;
        }
    }

    .el-menu-item-group{
        .su-icon {
            font-size: 12px;
            margin-right: 5px;
            margin-top: -2px;
            color: #333;
        }
    }

}

/**子列表菜单*/
.subsider-navbar{
    position: fixed;
    left: 250px;
    top: 70px;
    bottom: 0;
    width: 180px;
    background: rgba(0, 0, 0, 0.04);

    .el-menu{
        border: none;
        background: none;
    }
}
