.system{
    width: 100%;
    min-height: 100vh;
    background: $colorMainbg;
    padding-top: 70px;
    .system-main{
        min-height: calc(100vh - 70px);
        position: relative;
        margin-left: 250px;
    }
}



.main-section{
    overflow-x: hidden;
}

.fp-index{
    height: calc(100vh - 70px);
    padding: 30px;

    .fp-index-main{
        width: 100%;
        height: 100%;
        background: #fff;
    }
}
